<nav id="app-header">
  <div class="container-fluid d-flex align-items-center pl-3 pr-3 pt-2 pb-2">
	<div>
	  <h2 [routerLink]="['home']" class="demo-title cursor-pointer m-0">
		<mat-icon class="demo-logo-icon">{{config.marketplace_type === 'template' ? 'web' : 'extension'}}</mat-icon>
		<span>{{config.title}}</span>
	  </h2>
	  <div class="m-0 p-0 powered-by">
		<b class="mr-2">Powered By</b>
		<a href="https://www.xano.com" target="_blank">
		  <img class="logo clickable"
			   src="https://app.xano.com/admin/assets/images/xano-logo-tagline.svg"/>
		</a>
	  </div>
	</div>
	<div class="m-auto pl-4 pr-4 flex-grow-1 search-form-container d-none d-md-block">
	  <div>
		<mat-form-field appearance="outline" class="w-100 p-0 m-0">
		  <input [formControl]="search" [matAutocomplete]="auto" matInput>
		  <mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let thread of filteredResults" [routerLink]="['/thread/', thread.id]"
						[value]="thread.subject">
			  <div class="d-flex align-items-center">
				<div class="pl-2">
				  <img *ngIf="thread?.profile_image" [src]="thread.profile_image.url + '?tpl=tiny:box'"/>
				  <div>
					<app-empty-profile-picture *ngIf="!thread?.profile_image" height="32px" type="thread" width="32px">
					</app-empty-profile-picture>
				  </div>
				</div>

				<div class="ml-2">
				  <b>{{thread.subject | titlecase}}</b>
				</div>
			  </div>
			</mat-option>
		  </mat-autocomplete>
		  <mat-icon *ngIf="!search.value else clearSearch" matSuffix>search</mat-icon>
		  <ng-template #clearSearch>
			<mat-icon (click)="search.reset()" class="cursor-pointer" matSuffix>close</mat-icon>
		  </ng-template>
		</mat-form-field>
	  </div>

	</div>
	<div class="justify-self-end ml-auto ml-md-0">
	  <button [matMenuTriggerFor]="menu" color="primary" mat-flat-button>
		<mat-icon>menu</mat-icon>
		{{username}}
	  </button>
	  <mat-menu #menu>
		<div *ngIf="loggedIn else authActions">
		  <div [routerLink]="['/user', userID]" mat-menu-item>
			<mat-icon>person</mat-icon>
			Profile
		  </div>
		  <div (click)="showPanel('manage')" mat-menu-item>
			<mat-icon>add</mat-icon>
			Create Thread
		  </div>

		  <mat-divider></mat-divider>
		  <div (click)="logout()" mat-menu-item>
			<mat-icon>logout</mat-icon>
			Logout
		  </div>
		</div>

		<ng-template #authActions>
		  <div (click)="showPanel('auth')" mat-menu-item>
			<mat-icon>login</mat-icon>
			Login
		  </div>
		  <div (click)="showPanel('auth', true)" mat-menu-item>
			<mat-icon>how_to_reg</mat-icon>
			Signup
		  </div>
		</ng-template>

	  </mat-menu>

	</div>
  </div>
</nav>

