.empty-profile-picture {
  background: #A7A7A7;
  min-height: 25px;
  min-width: 25px;

  mat-icon {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
