<section class="panel-container">

  <div class="panel-header">
	<span class="panel-title">{{data?.type === 'thread' ? 'Thead' : 'Post'}}</span>
	<mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
  </div>


  <div class="panel-content">
	<ng-container *ngIf="data?.type === 'thread'">
	  <div>
		<label>Banner Image</label>
		<app-image-upload (delete)="deleteImage('banner_image')" (formData)="upload($event, 'banner_image')"
						  [image]="bannerImage">
		</app-image-upload>
	  </div>


	  <div class="mt-4 mb-4">
		<label>Profile Image</label>
		<app-image-upload (delete)="deleteImage('profile_image')" (formData)="upload($event, 'profile_image')"
						  [image]="profileImage">

		</app-image-upload>
	  </div>

	  <app-form-generator
		  (formOutput)="this.form = $event"
		  [formValues]="data?.item"
		  [schema]="threadFormSchema"
		  flexDirection="column">
	  </app-form-generator>
	</ng-container>

	<ng-container *ngIf="data?.type === 'post'">
	  <div class="d-flex pb-4">
		<mat-button-toggle-group [value]="isImagePost ? 'image' : 'post'" class="m-auto">
		  <mat-button-toggle (click)="toggleImagePost('post')" value="post">Post</mat-button-toggle>
		  <mat-button-toggle (click)="toggleImagePost('image')" value="image">Image</mat-button-toggle>
		</mat-button-toggle-group>
	  </div>

	  <div class="mb-4">
		<app-image-upload (delete)="deleteImage('image')" (formData)="upload($event, 'image')"
						  *ngIf="isImagePost" [image]="image">

		</app-image-upload>
	  </div>


	  <app-form-generator
		  (formOutput)="this.form = $event"
		  [formValues]="data?.item"
		  [schema]="postFormSchema"
		  flexDirection="column">
	  </app-form-generator>
	</ng-container>

  </div>

  <div class="panel-footer">
	<button (click)="delete()" *ngIf="data?.item?.id" class="mr-auto" color="warn" mat-flat-button>
	  <mat-icon>delete</mat-icon>
	</button>
	<button (click)="submit()" color="primary" mat-flat-button>{{data?.item?.id ? 'Update' : 'Submit'}}</button>
  </div>

</section>
