#post {
  border: 1px inset rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  background: white;

  img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
  }

  .truncate-post {
    max-height: 300px;
    overflow: hidden;
    border-bottom: 10px inset rgba(255, 255, 255, 0.1);
  }
}
