<article *ngIf="post" id="post">
  <div class="d-flex flex-column">
	<div class="p-3 d-flex align-items-center">
	  <h4 *ngIf="showThread" [routerLink]="['/thread', post?.thread_id]" class="m-0 mb-1 p-0 cursor-pointer">
		t/{{post?.thread?.subject}}
	  </h4>
	  <h4 *ngIf="showThread" class="m-0 p-0 pl-2 pr-2"> &#183;</h4>
	  <p *ngIf="post?.creator?.username" [routerLink]="['/user', post?.creator_id]" class="m-0 p-0">
		Posted by <b class="cursor-pointer">u/{{post?.creator.username}}</b>
	  </p>
	  <p class="m-0 p-0 ml-1">{{post?.created_at | amTimeAgo}}</p>
	</div>
	<mat-divider></mat-divider>
	<h4 *ngIf="post?.title" [routerLink]="['/post', post?.parent_post_id ? post?.parent_post_id : post?.id]"
		class="pl-3 pr-3 pt-3 cursor-pointer">
	  {{post?.title}}
	</h4>
	<div *ngIf="post?.content" [ngClass]="{'truncate-post': truncate}"
		 [routerLink]="['/post', post?.parent_post_id ? post?.parent_post_id : post.id]"
		 class="p-3 cursor-pointer">
	  {{post?.content}}
	</div>

	<img *ngIf="post?.image?.url" [routerLink]="['/post', post?.parent_post_id ? post?.parent_post_id : post?.id]" [src]="post.image.url"
		 class="cursor-pointer">

	<mat-divider></mat-divider>
	<div class="p-3 d-flex align-items-center">
	  <mat-icon #upVote
				(click)="vote('up', upVote, downVote);" [color]="userVoteRecord('up')"
				class="up-vote-icon cursor-pointer">
		forward
	  </mat-icon>
	  <button [color]="directionOfVotes()" mat-button>
		<b style="font-size: 1.5em">{{votes}}</b>
	  </button>
	  <mat-icon #downVote (click)="vote('down', downVote, upVote);"
				[color]="userVoteRecord('down')"
				class="down-vote-icon cursor-pointer">
		forward
	  </mat-icon>
	  <button (click)="edit()" *ngIf="isPostOwner" class="ml-2" mat-button>
		<mat-icon>edit</mat-icon>
		Edit
	  </button>
	  <button *ngIf="showCommentButton"
			  [routerLink]="['/post', post?.parent_post_id ? post?.parent_post_id : post?.id]" class="ml-2"
			  mat-stroked-button>
		<mat-icon>comments</mat-icon>
		{{post?.post_of_post_count}} Comments
	  </button>
	</div>
  </div>
</article>
