<section class="panel-container">

  <div class="panel-header">
	<span class="panel-title">{{data?.signup ? 'Signup' : 'Login'}}</span>
	<mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
  </div>

  <div class="panel-info mt-4">
	<h3>Information</h3>
	<p>
	  This app is equipped with authentication for editing and creating entries in your database table. Use the
	  form below to authenticate against your user table or add a new record by signing up.
	</p>
  </div>

  <div class="panel-content">
	<ng-container *ngIf="!showLoginView">
	  <div>
		<label>Banner Image</label>
		<app-image-upload (delete)="deleteImage('banner_image')"
						  (formData)="upload($event, 'banner_image')">
		</app-image-upload>
	  </div>


	  <div class="mt-4 mb-4">
		<label>Profile Image</label>
		<app-image-upload (delete)="deleteImage('profile_image')"
						  (formData)="upload($event, 'profile_image')">

		</app-image-upload>
	  </div>
	</ng-container>

	<app-form-generator (formOutput)="this.form = $event" [schema]="showLoginView ? loginFormSchema : signupFormSchema"
						flexDirection="column">
	</app-form-generator>
	<p>
	  {{showLoginView ? "Don't have an account?" : "Already have an account?"}}
	  <a (click)="showLoginView = !showLoginView" mat-button>
		{{showLoginView ? "Signup Now" : "Login Now"}}
	  </a>
	</p>
  </div>

  <div class="panel-footer">
	<button (click)="submit()" color="primary" mat-flat-button>{{showLoginView ? 'Login' : 'Signup'}}</button>
  </div>

</section>
