<section class="container" id="post-stream">
  <div class="p-3 d-flex align-items-center">
	<h4 [routerLink]="['/thread', post?.thread_id]" class="m-0 mb-1 p-0 cursor-pointer"
	>t/{{post?.thread?.subject}}</h4>
	<h4 class="m-0 p-0"> &#183;</h4>
	<p *ngIf="post?.creator?.username" [routerLink]="['/user', post.creator_id]" class="m-0 p-0">
	  Posted by <b class="cursor-pointer">u/{{post.creator.username}}</b>
	</p>
	<p class="m-0 p-0 ml-1">{{post?.created_at | amTimeAgo}}</p>
  </div>
  <mat-divider></mat-divider>

  <div class="d-flex flex-column">
	<div class="p-3">
	  {{post?.content}}
	</div>
	<img *ngIf="post?.image?.url" [src]="post.image.url" class="cursor-pointer">

  </div>

  <div class="p-3 d-flex align-items-center">
	<mat-icon #upVote
			  (click)="vote('up', upVote, downVote);" [color]="userVoteRecord('up')"
			  class="up-vote-icon cursor-pointer">
	  forward
	</mat-icon>
	<button [color]="directionOfVotes()" mat-button>
	  <b style="font-size: 1.5em">{{votes}}</b>
	</button>
	<mat-icon #downVote (click)="vote('down', downVote, upVote);"
			  [color]="userVoteRecord('down')"
			  class="down-vote-icon cursor-pointer">
	  forward
	</mat-icon>
	<button (click)="comments.scrollIntoView()" class="ml-2" mat-stroked-button>
	  <mat-icon>comments</mat-icon>
	  {{post?.post_of_post_count}} Comments
	</button>
  </div>

  <div class="d-flex flex-column mb-4 pr-3 pl-3 w-100">
	<app-form-generator (formOutput)="form = $event" [flexDirection]="'column'" [schema]="postFormSchema">
	</app-form-generator>
	<button (click)="comment()" class="ml-auto" color="primary" mat-flat-button style="margin-top: -10px">
	  Comment
	</button>
  </div>

  <div #comments class="pl-3 pr-3">
	<app-comment *ngFor="let comment of postOfPost" [comment]="comment"></app-comment>

	<div *ngIf="!postOfPost?.length" class="d-flex flex-column justify-content-center align-items-center p-4">
	  <mat-icon class="mb-2">comment</mat-icon>
	  <h4>No comments yet!</h4>
	  <p>Be the first to comment.</p>
	</div>
  </div>


</section>
