<section>
  <header>
	<img *ngIf="thread?.banner_image" [src]="thread.banner_image.url" class="banner"/>
	<app-empty-profile-picture *ngIf="!thread?.banner_image" height="200px" width="98vw"></app-empty-profile-picture>
	<div class="container">
	  <div class="pb-4 pt-2 d-flex align-items-center flex-wrap">
		<div class="profile-image">
		  <img *ngIf="thread?.profile_image" [src]="thread.profile_image.url + '?tpl=med:box'"/>
		  <app-empty-profile-picture *ngIf="!thread?.profile_image" height="75px" type="thread" width="75px"
		  ></app-empty-profile-picture>
		</div>
		<div>
		  <h1 class="p-0 m-0">t/{{thread?.subject}}</h1>
		</div>

		<div class="ml-2 ml-md-5 pt-3">
		  <mat-icon [matBadge]="thread?.member_count" class="mr-4" matBadgeColor="primary" matBadgePosition="before">
			people_alt
		  </mat-icon>
		  <mat-icon [matBadge]="thread?.post_count" matBadgeColor="primary" matBadgePosition="before">
			feed
		  </mat-icon>
		</div>
		<div class="ml-auto">
		  <ng-container *ngIf="(thread?.creator_id && thread?.creator_id === authUserID) else Join">
			<button (click)="createPost()" class="mr-2" color="primary" mat-flat-button>
			  <mat-icon>add</mat-icon>
			  Post
			</button>
			<button (click)="edit()" color="primary" mat-flat-button>
			  <mat-icon>edit</mat-icon>
			  Edit
			</button>
		  </ng-container>

		  <ng-template #Join>
			<button (click)="createPost()" *ngIf="isThreadMember" class="mr-2" color="primary" mat-flat-button>
			  <mat-icon>add</mat-icon>
			  Post
			</button>
			<button (click)="toggleJoin()" [color]="isThreadMember ? 'warn' : 'primary'"
					mat-flat-button>{{isThreadMember ? 'Leave' : 'Join'}}
			</button>
		  </ng-template>

		</div>
	  </div>
	  <mat-divider></mat-divider>
	</div>
  </header>
  <div class="container thread-content mb-5">
	<mat-tab-group mat-align-tabs="start">
	  <mat-tab label="Posts">
		<div class="mt-4 pb-4">
		  <app-post *ngFor="let post of posts" [post]="post" [showThread]="false" [truncate]="true"></app-post>
		</div>

	  </mat-tab>
	  <mat-tab label="Guidelines">
		<section class="pt-4 pb-4">
		  {{thread?.guidelines}}
		</section>
	  </mat-tab>
	</mat-tab-group>
  </div>

</section>
