<section id="home">
  <div class="container">
	<div [ngClass]="{'flex-wrap-reverse': isSmallScreen}" class="d-flex justify-content-between pt-4 mb-4 ">
	  <div class="flex-grow-1">
		<app-post *ngFor="let post of posts" [post]="post" [showThread]="false" [truncate]="true"></app-post>
	  </div>

	  <div [ngClass]="{'flex-grow-1': isSmallScreen}" class="ml-lg-2 mb-4" style="min-width: 300px!important;">
		<mat-card>
		  <mat-card-header>
			<mat-card-title>New Threads</mat-card-title>
		  </mat-card-header>
		  <mat-divider></mat-divider>
		  <mat-list>
			<mat-list-item *ngFor="let thread of threads" [routerLink]="['/thread/', thread.id]"
						   class="cursor-pointer">
			  <img *ngIf="thread?.profile_image" [src]="thread.profile_image.url + '?tpl=tiny:box'"/>
			  <app-empty-profile-picture *ngIf="!thread?.profile_image" height="32px" type="thread"
										 width="32px">
			  </app-empty-profile-picture>
			  <b class="ml-2">t/{{thread?.subject}}</b>
			  <div *ngIf="isSmallScreen" class="ml-auto pt-2">
				<mat-icon [matBadge]="thread?.member_count" class="mr-4" matBadgeColor="primary"
						  matBadgePosition="before">
				  people_alt
				</mat-icon>
				<mat-icon [matBadge]="thread?.post_count" matBadgeColor="primary" matBadgePosition="before">
				  feed
				</mat-icon>
			  </div>
			  <mat-divider></mat-divider>
			</mat-list-item>
		  </mat-list>
		</mat-card>
	  </div>

	</div>
  </div>
</section>
