<section id="user-profile">
  <header>
	<img *ngIf="user?.banner_image" [src]="user.banner_image.url" class="banner"/>
	<app-empty-profile-picture *ngIf="!user?.banner_image" height="200px" width="98vw"></app-empty-profile-picture>
	<div class="container">
	  <div class="pb-4 pt-2 d-flex align-items-center">
		<div class="profile-image">
		  <img *ngIf="user?.profile_image" [src]="user.profile_image.url + '?tpl=med:box'"/>
		  <app-empty-profile-picture *ngIf="!user?.profile_image" height="75px" type="person" width="75px"
		  ></app-empty-profile-picture>
		</div>
		<div>
		  <h1 class="p=0 m-0">u/{{user?.username}}</h1>
		</div>
	  </div>
	  <mat-divider></mat-divider>
	</div>
  </header>
  <div class="container thread-content mb-5">
	<div class="mt-4 pb-4">
	  <app-post *ngFor="let post of posts" [post]="post" [showThread]="true" [truncate]="true"></app-post>
	</div>
  </div>
</section>
