<section *ngIf="comment" id="comment">
  <div class="d-flex">
	<div>
	  <img *ngIf="comment?.creator?.profile_image" [src]="comment.creator.profile_image?.url +  '?tpl=small:box'"
		   class="mt-2"
		   width="25px"/>
	  <app-empty-profile-picture *ngIf="!comment?.creator?.profile_image" height="25px" type="person" width="25px">
	  </app-empty-profile-picture>
	</div>

	<div class="pl-2 pb-2 w-100">
	  <div>
		<b class="ml-1">{{comment?.creator?.username ? comment.creator.username : 'deleted'}}</b>
		<small class="ml-2">{{comment?.created_at | amTimeAgo}}</small>
	  </div>
	  <div *ngIf="!editing else Edit">
		{{comment?.content}}
	  </div>

	  <ng-template #Edit>
		<app-form-generator
			(formOutput)="form = $event"
			[flexDirection]="'column'"
			[formValues]="comment" [schema]="postFormSchema" class="w-100 mt-2">
		</app-form-generator>
		<div class="w-100 d-flex" style="margin-top: -10px">
		  <button (click)="toggleEdit()" class="ml-auto mr-2" mat-button>Cancel</button>
		  <button (click)="submit()" color="primary" mat-flat-button>Save</button>
		</div>
	  </ng-template>

	  <div class="d-flex mt-2 align-items-center">
		<mat-icon #upVote
				  (click)="vote('up', upVote, downVote);" [color]="userVoteRecord('up')"
				  class="up-vote-icon cursor-pointer">
		  forward
		</mat-icon>
		<button [color]="directionOfVotes()" mat-button>
		  <b>{{votes}}</b>
		</button>
		<mat-icon #downVote (click)="vote('down', downVote, upVote);"
				  [color]="userVoteRecord('down')"
				  class="down-vote-icon cursor-pointer">
		  forward
		</mat-icon>
		<button (click)="toggleEdit()" *ngIf="isCommentOwner" mat-button>
		  <mat-icon>edit</mat-icon>
		  Edit
		</button>
		<button (click)="delete()" *ngIf="isCommentOwner" color="warn" mat-button>
		  <mat-icon>delete</mat-icon>
		  Delete
		</button>
	  </div>
	</div>
  </div>
</section>
